# Fichiers
entrainement/data/
entrainement/.ipynb_checkpoints
models/
__pycache__/

# Environement:
env_mgt/

# Flask:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py